{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'frontend/css/output.css' %}">
        <script src="{% static 'frontend/js/index.js' %}"></script>
        <title>TaskManager</title>
    </head>
    <body class="">
        <div class="h-full w-full bg-black/70 absolute hidden z-20" id="cover"></div>
        <div class="flex flex-col md:flex-row relative">
            {% include 'frontend/aside.html' %}
            <div class="md:hidden pt-8 w-full absolute right-0 top-0">
                <button
                    id="menu-btn"
                    type="button"
                    class="z-40 block hamburger md:hidden focus:outline-none"
                    >
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </button>
            </div>
            <div class="pt-16 w-full min-h-screen md:ml-56 space-y-10 px-4">
                {% include 'frontend/header.html' %}
                {% include 'frontend/tasks.html' %}
            </div>
        </div>
    </body>
</html>
