{% load static %}

<header class="">
    <div class="z-50 bg-red-100 border border-red-400 text-red-700 px-4 mb-3 py-3 mt-0 rounded relative hidden" role="alert" id="alert-danger">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline" id="message-danger"></span>
    </div>
    <div class="z-50 bg-green-100 border border-green-400 text-green-700 px-4 mb-3 py-3 mt-0 rounded relative hidden" role="alert" id="alert-success">
        <strong class="font-bold">Success</strong>
        <span class="block sm:inline" id="message-success"></span>
    </div>
    <form class="relative px-24" id="searchForm">
        <input type="text" name="Search" id="searchInput" class="border w-full h-9 focus:outline-none placeholder:font-medium placeholder:text-gray-500 pl-8 rounded-md " placeholder="Search tasks">
        <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 text-gray-600 absolute top-2 ml-2"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="10" cy="10" r="7" />
              <line x1="21" y1="21" x2="15" y2="15" />
            </svg>
    </form>
    {% comment %}
        <div class="flex space-x-4">
            <a href=""><img src="{% static 'frontend/img/comment.png' %}" alt="" class="w-8 h-8"></a>

            <a href=""><img src="{% static 'frontend/img/notification-bell.png' %}" alt="" class="w-8 h-8"></a>
            <a href="">
                <div class="w-8 h-8 rounded-full border">

                </div>
            </a>
        </div>
    {% endcomment %}
</header>

<div class="space-y-5">
    <div class="space-y-5">
        {% comment %}
            <a href="" class="">
                <div class="border-2 rounded-md items-center flex space-x-1 px-2 py-1">
                    <img src="{% static 'frontend/img/app.png' %}" alt="" class="w-5 h-5">
                    <span>Preview</span>
                </div>
            </a>
        {% endcomment %}
        <div class="text-left cursor-pointer flex space-x-2 lg:space-y-2  border-gray-300 flex-wrap" id="filterdiv">
            <div class="border-2 rounded-md items-center flex space-x-1 px-5 py-1" id="filterBtn">
                <img src="{% static 'frontend/img/filter.png' %}" alt="" class="w-5 h-5">
                <span>Filter</span>
            </div>
            <div class="relative">
                <select id="filterPriority" class="block appearance-none bg-white border border-gray-300 hover:border-gray-400 px-4 py-1  rounded shadow leading-tight focus:outline-none focus:bg-white">
                    <option value="">Priority</option>
                    <option value="LO">Low</option>
                    <option value="ME">Medium</option>
                    <option value="HI">High</option>
                </select>
                <div class="absolute inset-y-0 right-0 top-0 flex items-center px-2 pointer-events-none">
                    <!-- Font Awesome icon for down arrow -->
                    <img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4">
                </div>
            </div>
            <div class="">
                <input type="datetime-local" name="" id="filterDuedate" class="focus:outline-none py-1 border border-gray-300 hover:border-gray-400 px-3">
            </div>
            
            <div class="relative">
                <select id="filterCategory" class="block appearance-none  bg-white border border-gray-300 hover:border-gray-400 px-4 py-1  rounded shadow leading-tight focus:outline-none">
                    <option value="">Category</option>
                    <option value="Development">Development</option>
                    <option value="Design">Design</option>
                    <option value="Work">Work</option>
                    <option value="Personal">Personal</option>
                </select>
                <div class="absolute inset-y-0 right-0 top-0 flex items-center px-2 pointer-events-none">
                    <!-- Font Awesome icon for down arrow -->
                    <img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4">
                </div>
            </div>

        </div>
        
        
        
    </div>
    <div class="flex justify-between">
        <div class="cursor-pointer flex space-x-4" id="sortdiv">
            <div class="border-2 rounded-md items-center flex space-x-1 px-4 py-1 " id="sortBtn">
                <img src="{% static 'frontend/img/sort.png' %}" alt="" class="w-5 h-5">
                <span>Sort</span>
            </div>
            
            <div class="relative">
                <select id="sortby" class="block appearance-none bg-white border border-gray-300 hover:border-gray-400 px-4 py-1  rounded shadow leading-tight focus:outline-none focus:bg-white">
                    <option value="priority">Priority</option>
                    <option value="due_date">Due Date</option>
                    <option value="category">Category</option>
                </select>
                <div class="absolute inset-y-0 right-0 top-0 flex items-center px-2 pointer-events-none">
                    <!-- Font Awesome icon for down arrow -->
                    <img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4">
                </div>
            </div>
        </div>
        <div class="flex space-x-4">
            <button class="border bg-blue-700 text-white px-3 py-2 rounded-md font-medium" id="add-task">+ Add task</button>
            <button class="border bg-green-700 text-white px-3 py-2 rounded-md font-medium" id="refresh">Refresh</button>

        </div>
    </div>
    <div class="">
        <!-- <div class="flex items-center">
            <img src="https://via.placeholder.com/40" alt="" class="w-8 h-8 rounded-full border-2 border-white">
            <img src="https://via.placeholder.com/40" alt="" class="w-8 h-8 rounded-full border-2 border-white overlap">
            <img src="https://via.placeholder.com/40" alt="" class="w-8 h-8 rounded-full border-2 border-white overlap">
            <img src="https://via.placeholder.com/40" alt="" class="w-8 h-8 rounded-full border-2 border-white overlap">
            <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center font-semibold overlap text-sm">+2</div>
        </div> -->
        <!-- <div class="mt-1 border-2 rounded-full w-7 h-7 border-dashed flex justify-center items-center text-2xl text-gray-400 border-gray-400">+</div> -->
    </div>
</div>