{% load static %}

<div class="h-full w-full fixed bg-black/70 inset-0 hidden z-20" id="cover"></div>

<div id="addtask-modal" class="h-full w-full fixed bg-black/90 inset-0 z-50 flex justify-center items-center px-12">
    <div class="bg-white md:w-[50%] p-5 rounded-lg text-gray-700 font-mono relative">
        <img src="{% static 'frontend/img/close.png' %}" alt="" class="cursor-pointer md:w-10 md:h-10 absolute md:right-5 w-5 h-5 right-3 close-btn">
        <h1 class="text-blue-500 font-semibold font-mono text-center text-2xl">Create Task</h1>
        <form action="" class="space-y-3" id="createTaskForm">
            <input type="text" class="w-full p-4 border-b-2 focus:outline-none placeholder:font-medium" name="title" id="title" placeholder="Title">
            <textarea name="Description" id="description" class="w-full p-4 border-b-2 focus:outline-none placeholder:font-medium" placeholder="Description"></textarea>
            <select class="rounded-md border-b-2 text-gray-500. p-4 focus:outline-none w-full" id="status" name="status">
                <option value="IP">In Progress</option>
                <option value="CO">Completed</option>
                <option value="OV">Overdue</option>
            </select>
            <select class="rounded-md border-b-2 text-gray-500 p-4 focus:outline-none w-full" name="priority" id="priority">
                <option value="LO">Low</option>
                <option value="ME">Medium</option>
                <option value="HI">High</option>
            </select>
            <div class="flex flex-col">
                <label for="due_date" class="text-sm font-medium text-gray-700">Due Date</label>
                <input type="datetime-local" id="due_date" name="due_date"
                     class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <input type="text" class="w-full p-4 border-b-2 focus:outline-none placeholder:font-medium" name="category" placeholder="Category" id="category">

            <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-xl font-semibold font-mono">create</button>
        </form>
    </div>
</div>

<div class="h-full w-full fixed bg-black/90 inset-0 z-50 flex justify-center items-center px-12" id="editTaskModal">
    <div class="bg-white  md:w-[50%] p-5 rounded-lg text-gray-700 font-mono relative">
        <img src="{% static 'frontend/img/close.png' %}" alt="" class="cursor-pointer md:w-10 md:h-10 absolute md:right-5 w-5 h-5 right-3 close-btn">
        <h1 class="text-blue-500 font-semibold font-mono text-center text-2xl">Edit Task</h1>
        <form action="" class="space-y-3" id="editTaskForm">
            <span id="editId" class="hidden"></span>
            <input type="text" class="w-full p-4 border-b-2 focus:outline-none placeholder:font-medium" name="title" id="editTitle" placeholder="Title">
            <textarea name="Description" id="editDescription" class="w-full p-4 border-b-2 focus:outline-none placeholder:font-medium" placeholder="Description"></textarea>
            <select class="rounded-md border-b-2 text-gray-500. p-4 focus:outline-none w-full" id="editStatus" name="status">
                <option value="IP">In Progress</option>
                <option value="CO">Completed</option>
                <option value="OV">Overdue</option>
            </select>
            <select class="rounded-md border-b-2 text-gray-500 p-4 focus:outline-none w-full" name="priority" id="editPriority">
                <option value="LO">Low</option>
                <option value="ME">Medium</option>
                <option value="HI">High</option>
            </select>
            <div class="flex flex-col">
                <label for="due_date" class="text-sm font-medium text-gray-700">Due Date</label>
                <input type="datetime-local" id="edit_Due_date" name="due_date"
                     class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none sm:text-sm">
            </div>
            <input type="text" class="w-full p-4 border-b-2 focus:outline-none placeholder:font-medium" name="category" placeholder="Category" id="editCategory">

            <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-xl font-semibold font-mono">Save</button>
        </form>
    </div>
</div>

<div id="deleteModal" class="fixed inset-0 bg-black/90 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                        Delete Task?
                    </h3>
                </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button id="deleteModalBtn" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                DELETE
            </button>
            <button class="close-btn mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:mt-0 sm:w-auto sm:text-sm">
                Close
            </button>
        </div>
    </div>
</div>

<div id="searchModal" class="fixed inset-0 bg-black/90 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-4xl sm:w-full">
        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 ">
            <div class="text-center sm:text-left">
                <input type="text" placeholder="Search..." class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" id="search" autofocus id="inputfocus">
            </div>
            <div class="mt-4 overflow-y-auto max-h-[400px]">
                <div id="taskContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <!-- Task cards will be injected here -->
                    
                    
                    <!-- Add more tasks as needed -->
                </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button id="closeSearchModalBtn" class="close-btn w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                Close
            </button>
        </div>
    </div>

</div>