{% load static %}

<div class="flex space-y-8 xl:space-y-0 xl:space-x-10 flex-col xl:flex-row">
    <div class="flex-1 space-y-5 task-list" id="IP">
        <div id="inprogress" class="border-2 border-blue-600 px-2 rounded-md py-2 flex justify-between items-center pl-3">
            <div><span class="font-semibold">In Progress <span class="text-gray-500" id="inprogress_count">(0)</span></span></div>
            <div class="flex space-x-2">
                <img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4">
                <!-- <a href="" class="group"><img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4 md:hidden group-hover:scale-110 duration-200"></a> -->
            </div>
        </div>
        <!-- Tasks In Progress -->
        <div class="hidden md:block space-y-5" id="in_progress_task">
            
        </div>
    </div>

    <div class="flex-1 space-y-5 task-list" id="CO">
        <div id="completed" class="border-2 border-blue-600 px-2 rounded-md py-2 flex justify-between items-center pl-3">
            <div><span class="font-semibold">Completed Task <span class="text-gray-500" id="completed_count">(0)</span></span></div>
            <div class="flex space-x-2">
                <img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4">
                <!-- <a href="" class="group"><img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4 md:hidden group-hover:scale-110 duration-200"></a> -->
            </div>
        </div>
        <!--Completed tasks -->
        <div class="hidden md:block space-y-8" id="completed_task">
            
        </div>
    </div>

    <div class="flex-1 space-y-5 task-list" id="OV">
        <div id="overdue" class="border-2 border-blue-600 px-2 rounded-md py-2 flex justify-between items-center pl-3">
            <div><span class="font-semibold">Over-Due <span class="text-gray-500" id="overdue_count">(0)</span></span></div>
            <div class="flex space-x-2">
                <img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4">
                <!-- <a href="" class="group"><img src="{% static 'frontend/img/down.png' %}" alt="" class="w-4 h-4 md:hidden group-hover:scale-110 duration-200"></a> -->
            </div>
        </div>
        <!-- Over-Due Tasks -->
        <div class="hidden md:block space-y-5" id="overdue_task">
            
        </div>
    </div>
    
</div>